@define-color theme_base_color #050c08;
@define-color theme_bg_color #050c08;
@define-color theme_fg_color #A0BDB8;
@define-color theme_text_color #A0BDB8;
@define-color theme_selected_bg_color #32d8bc;
@define-color theme_selected_fg_color #02000C;
@define-color theme_unfocused_selected_bg_color #08af8b;
@define-color theme_unfocused_selected_fg_color #02000C;
@define-color borders #145c4d;
@define-color insensitive_bg_color #0f1e1a;
@define-color insensitive_fg_color #5f7a75;
@define-color warning_color #8d6565;
@define-color success_color #08af8b;
@define-color error_color #69537c;
@define-color link_color #32d8bc;
@define-color titlebar_bg_color #02000C;
@define-color titlebar_fg_color #A0BDB8;
@define-color accent_color #32d8bc;
@define-color accent_bg_color #32d8bc;
@define-color accent_fg_color #02000C;

* {
  color: @theme_fg_color;
  background-color: @theme_bg_color;
  border-color: @borders;
}

window, dialog, popover, menu {
  background-color: @theme_bg_color;
  color: @theme_fg_color;
}

headerbar,
.titlebar {
  background-color: @titlebar_bg_color;
  color: @titlebar_fg_color;
  border-bottom: 1px solid @borders;
}

button {
  background-image: none;
  background-color: shade(@theme_bg_color, 1.08);
  color: @theme_fg_color;
  border: 1px solid @borders;
  border-radius: 6px;
}

button:hover {
  background-color: shade(@theme_bg_color, 1.22);
  border-color: @accent_color;
}

button:active,
button:checked,
.suggested-action {
  background-color: @accent_bg_color;
  color: @accent_fg_color;
}

entry, textview, spinbutton, combobox box {
  background-color: #02000C;
  color: @theme_text_color;
  border: 1px solid @borders;
  border-radius: 6px;
}

entry:focus,
textview:focus {
  border-color: @accent_color;
  box-shadow: 0 0 0 2px alpha(@accent_color, 0.2);
}

selection,
*:selected {
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}
