[Desktop Entry]
Type=Application
Name=System Resources
Comment=View system processes and resources
Exec=kitty -e btop
Icon=utilities-system-monitor
Terminal=false
Categories=System;Monitor;
Keywords=btop;htop;resources;system;monitor;processes;cpu;memory;ram;top;
