[Desktop Entry]
Type=Application
Name=System Resources
Comment=View system processes and resources
Exec=kitty -e htop
Icon=utilities-system-monitor
Terminal=false
Categories=System;Monitor;
Keywords=htop;resources;system;monitor;processes;cpu;memory;ram;top;
