name: Seadream
mode: dark
colors:
  bg: "#050c08"
  bg_alt: "#02000C"
  fg: "#A0BDB8"
  accent: "#32d8bc"
  accent_alt: "#08af8b"
  purple: "#69537c"
  rose: "#8d6565"
  blue: "#58709b"
  green_soft: "#6fa868"
