[Desktop Entry]
Type=X-GNOME-Metatheme
Name=Seadream
Comment=Dark GTK theme based on Adapta layout and Seadream palette
Encoding=UTF-8

[X-GNOME-Metatheme]
GtkTheme=Seadream
MetacityTheme=Adapta
IconTheme=Papirus-Dark
CursorTheme=Adwaita
ButtonLayout=menu:minimize,maximize,close
